<!DOCTYPE html>
<html>
	<head>
		<title>NFC Tag Data</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<form action="/display-data", method="POST">
			<label>Select how far back you want to query: </label>
			<select name="time_query">
				{%for query_time in query_times%}
					<option value={{query_time}}>{{query_time}}</option>
				{%endfor%}
			</select>
			<input type="submit" value="Submit">
		<br>
		</form>

		<table class="table table-hover", width="50%">
			<thead>
				<tr scope="col">
					<th>Timestamp</th>
					<th>Room</th>
				</tr>
			</thead>
			<tbody>
			{%for row in room_data%}
				<tr scope="row">
					<td>{{row[0]}}</td>
					<td>{{row[1]}}</td>
				</tr>
			{%endfor%}
			</tbody>
		</table>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>